# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Environment variables
.env

# Database
*.db

# Logs
*.log
JSON Schlüssel/
